<div class="col-10 mx-auto mt-3 mb-5">
  <div class="card shadow">
    <div class="card-header">
      <h1 style="font-weight: bold; font-size: xx-large" class="card-title text-center">
        编写旅游博客
      </h1>
    </div>
    <div class="card-body">
      <%= render "form", blog: @blog, set_current_user: true %>
    </div>
  </div>

</div>