<div class="col-10 mx-auto mt-4 mb-0">
  <div class="card shadow ">
    <div class="card-header text-center">
      <h1 style="font-weight: bold; font-size: xx-large" class="card-title">修改航空路线</h1>
    </div>
    <div class="card-body">
      <%= render "form", air_route: @air_route %>
    </div>
  </div>

</div>
