<div class="col-10 mx-auto">
  <h3 class="mt-0 mb-4 text-center">
    添加旅游路线
  </h3>
  <div class="card shadow mt-0">
    <div class="card-body">
      <%= render "tourist_routes/form", tourist_route: TouristRoute.new %>
    </div>
  </div>
</div>