<div id="<%= dom_id room_type %>">
  <p>
    <strong>Name:</strong>
    <%= room_type.name %>
  </p>

  <p>
    <strong>Has window:</strong>
    <%= room_type.has_window %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= room_type.price %>
  </p>

</div>
